<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--版本号-->
		<add key="Version" value="1.0" />
		<!--是否自动更新-->
		<add key="Auto" value="true" />
		<!--自动更新开启，发布版本后记得修改配置文件Wit.Main.Core.dll.config-->
		<add key="IsEnableUpdate" value="false" />
		<!--调试输入日志开关   true && false-->
		<add key="ConsoleTesting" value="false"/>
		<!--主题   Pro && Classic-->
		<add key="Theme" value="Pro"/>
		<!--更新地址-->
		<add key="UpdateAddress" value="http://192.168.2.133:9978/Update" />
		<add key="ServiceAddress" value="http://192.168.2.199:9299/Api" />
	</appSettings>
</configuration>